/* Definición de una fuente personalizada para el texto con estilo neon */
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/* Establece los márgenes y padding a 0 y usa box-sizing para incluir el padding en el tamaño total */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", Courier, monospace;
}

/* Oculta las barras de desplazamiento y configura el fondo de la página */
body,
html {
  overflow: hidden;
  background-position: center;
  background-size: 70%;
  background-color: rgb(15, 15, 15);
}

/* Estilo para encabezados h1 y h2 */
h1,
h2 {
  color: #00ffff;
}

/* Contenedor principal con diseño flexible */
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1%;
  z-index: 1;
  overflow: auto;
}

/* Diseño de la cabecera con alineación y espaciado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 4px solid transparent;
  border-radius: 20px;
}

/* Estilo del logo dentro de la cabecera */
.logo img {
  width: 90px;
  height: 90px;
  border-radius: 6px;
}

/* Estilo del título de la cabecera */
.header-title {
  font-size: 28px;
  color: #00ffff;
}

/* Estilo para la barra de navegación */
.navbar ul {
  list-style-type: none; /* Elimina los puntos de las listas */
  display: flex;
  gap: 1em;
  padding: 24px;
}

.navbar ul li {
  display: inline-block;
  border: 2px solid;
  border-radius: 10px;
  padding: 0.6em 1.5em;
  background-color: #111;
  animation: rgb-border 5s infinite linear;  /* Animación del borde */
  overflow: hidden;
}

.navbar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

/* Sección principal con margen superior */
.main-section {
  margin-top: 1em;
}

/* Área principal con diseño flexible y espacio entre elementos */
.main-area {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  overflow: auto;
}

/* Área de la sección principal con bordes y texto centrado */
.section-area {
  width: 70%;
  border: 4px solid transparent;
  border-radius: 12px;
  text-align: center;
  color: white;
}


.section-area__div {
  padding: 12px; /* Espaciado interno */
}

/* Estilo de los encabezados h2 dentro de las áreas de sección */
.section-area__div h2 {
  margin: 10px;
}

/* Lista de elementos en la sección */
.section-list {
  display: inline-block;
}

.section-list ol li {
  padding: 12px;
}

/* Botones de la sección con diseño personalizado */
.section-btn {
  height: 100%;
  margin: 25px;
}

.section-btn button {
  all: unset;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff00ff;
  border-radius: 5px;
  text-align: center;
}

.section-btn button a:hover {
  color: white;
}

/* Estilo de un botón con apariencia de neón */
.neon-button {
  color: #000;
  border-radius: 12px;
  font-size: 3rem;
  text-decoration: none;
}

/* Área lateral con estilo similar a la principal */
.aside-area {
  width: 30%;
  border: 4px solid transparent;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.aside-area__div {
  padding: 24px;
}

.aside-area__div h2 {
  margin: 10px;
}

/* Lista de elementos dentro del área lateral */
.aside-list {
  display: inline-block;
}

.aside-list ol li {
  padding: 12px;
  text-decoration: none;
  list-style: none;
}

/* Área de pie de página con alineación centrada */
.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 4px solid transparent;
  border-radius: 12px;
  margin-top: 1em;
}

.footer-area p {
  font-size: 24px;
  color: white;
}

/* Bordes animados RGB para las secciones importantes */
.header,
.section-area,
.aside-area,
.footer-area,
.area-div__form,
.main-area__game,
.container {
  border: 4px solid transparent;
  border-radius: 12px;
  animation: rgb-border 5s infinite linear;
}

/* Bordes animados RGB para las secciones de la web */
.navbar ul li {
  animation: rgb-border 5s infinite linear;
}

/* Animación RGB */
@keyframes rgb-border {
  0% {
    border-color: #ff0000;
  }
  14% {
    border-color: #ff7300;
  }
  28% {
    border-color: #fffb00;
  }
  42% {
    border-color: #48ff00;
  }
  56% {
    border-color: #00ffd5;
  }
  70% {
    border-color: #002bff;
  }
  84% {
    border-color: #7a00ff;
  }
  100% {
    border-color: #ff00c8;
  }
}

/* Estilos para la clase contenedor */
.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Títulos de cabecera con animaciones y efectos de neón */
.header-title {
  font-family: neon;
  color: #fb4264;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 3vw #f40a35;
}

.header-title2 {
  font-family: neon;
  color: #426dfb;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 3vw #2356ff;
}

/* Animaciones en los títulos de cabecera */
.header-title {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

/* Definición de la animación para el título principal */
@keyframes header-title {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.header-title2 {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

/* Definición de la animación para el segundo título */
@keyframes header-title2 {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

/* Página Canciones*/

/* Estilos del formulario dentro de la sección area-div */
.area-div__form {
  color: white;
  position: relative;
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Estilos del título (h2) dentro del formulario */
.area-div__form h2 {
  margin-top: 1em;
  text-align: center;
}

/* Margen superior para el formulario */
.area-div__form .form {
  margin-top: 15px;
}

/* Sección principal del formulario */
.main-section__form {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* Espaciado entre campos del formulario */
.input-box {
  margin: 1em;
}

/* Estilos para el campo de archivo personalizado */
.form .input-box .custom-file {
  padding: 1em;
}

/* Estilos para las etiquetas de los campos de entrada */

.input-box label {
  color: #fff;
}

/* Estilos de los campos de entrada */
.form .input-box input {
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 6px;
  font-size: 1em;
  padding: 10px;
}

/* Margen superior para los campos de entrada */
.input-box input {
  margin-top: 10px;
}

/* Estilos personalizados para el botón de archivo */
.custom-file {
  display: flex;
  align-items: center;
  margin: 16px;
  gap: 10px;
}

.custom-button {
  padding: 10px 20px; 
  background-color: #3498db;
  color: white;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

/* Estilos para los botones personalizados */
.custom-button:hover {
  background-color: #2980b9; /* Color del botón al hacer hover */

}

/* Estilo para el texto dentro del botón personalizado */
.custom-text {
  font-size: 14px;
  color: white;
}

/* Contenedor para el botón de envío */
.submit-btn__div {
  display: flex;
}

/* Estilos para el botón de envío */
.submit-btn {
  all: unset;
  padding: 10px 20px;
  background-color: #ff00ff;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

/* Pagina lista-canciones*/

/* Tamaño de los íconos en formato svg */
svg {
  height: 24px;
  width: 24px;
}

/* Sección principal de la lista de canciones */
.main-section__list {
  margin-top: 1em;
  color: white;
  overflow-y: auto;
}

.list-songs {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Siempre 2 columnas */
  grid-gap: 24px; /* Espacio entre las canciones */
  margin-top: 1em;
}

/* Estilos de cada canción dentro de la lista */
.list-song {
  display: flex;
  background-color: rgba(53, 53, 53, 0.7);
  border-radius: 10px;
  padding: 6px;
  flex-direction: column;
  align-items: stretch;
}

/* Contenedor para el lado derecho de la lista de canciones */
.list-songs__right {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  justify-content: space-between; /* Distribuye los elementos */
  padding: 10px;
  border-radius: 8px;
}

/* Tamaño y forma de la imagen dentro de la lista de canciones */
.list-songs-right__img img {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px;
  border-radius: 8px;
  object-fit: cover; /* Ajusta la imagen al contenedor */
}

.list-songs-right__info {
  flex: 1; /* Hace que esta sección ocupe el espacio restante */
  padding-left: 16px; 
}

/* Estilo del título de la canción */
.song-title {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
}

/* Estilo del nombre del artista */
.song-artist {
  color: #acacac;
  margin: 0;
}

/* Contenedor de los controles de reproducción */
.list-songs-right__play {
  display: flex;
  margin-left: 16px;
}


/* Estilo de los botones de reproducción */
.list-songs-right__play .play-button {
  width: 56px;
  height: 56px;
  background-color: #1ed760;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.list-song .list-songs-right__play button {
  margin: 12px;
}

.list-songs-right__play svg {
  width: 24px;
  height: 24px;
}

.list-songs-right__play .edit-button {
  width: 56px;
  height: 56px;
  background-color: #1ed760;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* Efecto hover para el botón de edición */
.edit-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Efecto hover para el botón de play */
.play-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Efecto hover para el botón de borrar */
.delete-button:hover {
  transform: scale(1.1);
}

.edit-button svg {
  fill: #f0f0f0; /* Color del icono */
  transition: fill 0.3s ease; /* Transición para el color del icono */
}

.edit-button:hover svg {
  fill: #1ed760; /* Cambia el color del icono cuando se pasa el mouse */
}

/* Estilos hover para los botones */
.list-songs-right__play .delete-button:hover {
  background-color: white; /* Fondo blanco al hacer hover */
}

.list-songs-right__play .delete-button svg {
  fill: white;
}

/* Estilos hover específicos para el icono de los botones al hacer hover */
.list-songs-right__play .delete-button:hover svg {
  fill: red; /* El icono cambia a rojo al hacer hover */
}


.play-button svg {
  fill: #f0f0f0; /* Color del icono */
  transition: fill 0.3s ease; /* Transición para el color del icono */
}

.play-button:hover svg {
  fill: #1ed760; /* Cambia el color del icono cuando se pasa el mouse */
}


.list-songs-right__play .delete-button {
  width: 56px;
  height: 56px;
  background-color: #ff0000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* Página para jugar */

.main-area__game {
  display: flex; /* Usa flexbox para alinear los elementos del área del juego */
  justify-content: center; /* Centra los elementos horizontalmente */
  padding: 15px; 
  gap: 10px; /* Espacio entre los elementos */
  position: relative; 
  height: 45em; /* Altura del área del juego */
  overflow: auto; /* Permite el desplazamiento vertical */
}

.div-area__game {
  display: flex; /* Flexbox para alinear los elementos secundarios */
  gap: 20px; 
}

.main-area__game > div {
  border-radius: 1em; 
  padding: 8px; 
  height: 70%;
  width: 50%; 
  display: flex; 
  align-items: flex-end; 
  justify-content: center; 
}

.item {
  background: rgba(255, 255, 255, 0.1); 
  position: relative;
  border-radius: 0 1em 1em 1em; 
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4); 
  height: 108%; 
  width: 120px; 
  display: flex; 
  justify-content: center; 
  overflow: hidden; 
}

.arrow {
  width: 100px; 
  height: 100px; 
  background: rgba(255, 255, 255, 0.9); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 40px; 
  border-radius: 50%; 
  position: absolute; 
  top: 0; 
}

.score-container {
  text-align: center; 
  margin-top: 20px; 
}

.score-container h2 {
  font-size: 24px; 
  color: #fff; 
  padding: 10px; 
  border-radius: 5px; 
}

.progress-container {
  position: absolute; 
  bottom: 40px;
  left: 50%; 
  transform: translateX(-50%); 
  width: 80%; 
  text-align: center;
}

.progress-bar {
  width: 60%; /* Anchura de la barra de progreso */
  margin: auto; 
  height: 15px; /* Altura de la barra */
  background: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%; 
  background: linear-gradient(90deg, #00ffff, #ff00ff); 
  box-shadow: 0 0 10px #0ff; 
}

.song-info {
  margin-top: 10px; 
  font-size: 20px; 
  color: #fff;
  text-shadow: 0 0 5px #fff; 
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); /* Posición inicial y final sin movimiento */
  }
  50% {
    transform: translateY(-20px); /* Movimiento hacia arriba en el punto medio */
  }
}

/* Modal styles */
.modal {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Fija el modal en la pantalla */
  z-index: 1; /* Asegura que esté sobre otros elementos */
  left: 0; /* Alineado a la izquierda */
  top: 0; /* Alineado en la parte superior */
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #000000;
  margin: 15% auto; 
  padding: 20px; 
  border: 4px solid #ff00ff;
  width: 50%; 
  border-radius: 1em; 
}

.submit-btn__div button {
  all: unset; 
  display: inline-block;
  padding: 10px 20px; 
  background-color: #ff00ff; 
  border-radius: 5px; 
  text-align: center; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; 
}

/* Página de clasificación */
.main-section__ranking {
  color: black; 
  margin-top: 1em; 
}

.container {
  max-width: 700px; 
  margin: 20px auto; 
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  display: flex; 
}

.area-div__ranking h2 {
  text-align: center; 
}

table {
  width: 100%; 
  border-collapse: collapse;
}

th, td {
  padding: 12px; 
  text-align: center; 
  border-bottom: 1px solid #ddd; 
}

th {
  background-color: #00ffff;
  color: rgb(0, 0, 0); 
}

tr:hover {
  background-color: #f1f1f1;
}

tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tr:nth-child(odd) {
  background-color: #ffffff; 
}

/* Barra lateral */
::-webkit-scrollbar {
  width: 12px; 
}

/* Estilo de la barra lateral */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}